.banner{
	width: 100%;
	height: 100%;
	position: relative;
}
.bn-img{
	position: relative;
	width: 100%;
	height: 88vh;
	z-index: 1;
}
.bn-img img{
	width: 100%;
	height: 100%;
}
.bn-text{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	place-content:  center;
	text-align: center;
}
.bn-text h1{
	font-size: 55px;
	font-weight: 700;
	color: #fff;
}
/* -------- BANNER --------- */

.content1{
 	margin: 5% auto 10% auto;
}
/* COLUNA */
.blog-coluna{
	width: 25%;
	align-content: baseline;
}
.bg-pesquisar{
	width: 100%;
	border: 1px solid #ABABAB;
	margin-bottom: 10%;
	position: relative;
	border-radius: 10px;
}
.bg-pesquisar button{
	position: absolute;
	border: none;
	z-index: 20;
	width: 14%;
	height: 100%;
	background-color: #fff;
	left: 0;
	place-content: center;
	cursor: pointer;
	border-radius: 10px;
}
.bg-pesquisar input{
	border: none;
	height: 46px;
	color: #ABABAB;
	width: 100%;
	position: relative;
	padding-left: 14%;
	border-radius: 10px;
}
.bg-pesquisar input::placeholder{
	color: #ABABAB;
}
.bg-categoria{
	padding: 30px;
	width: 100%;
	border: 1px solid #ABABAB;
	margin-bottom: 10%;
	border-radius: 10px;
}
.bg-categoria div, .bg-arquivos div{
	width: 100%;
	margin-bottom: 4%;
}
.bg-tags{
	padding: 30px;
	width: 100%;
	border: 1px solid #ABABAB;
	margin-bottom: 10%;
	border-radius: 10px;
}
.tags-title{
	max-width: 100%;
	width: 100%;
}
.bg-tags .bg-div{
	margin: 0 6% 4% 0;
	width: fit-content;
}
.bg-arquivos{
	padding: 30px;
	width: 100%;
	border: 1px solid #ABABAB;
	margin-bottom: 10%;
	border-radius: 10px;
}
.bg-categoria h3, .bg-tags h3, .bg-arquivos h3{
	color: #383838;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 5%;
}
.bg-categoria a, .bg-categoria a span, .bg-tags a, .bg-arquivos a, .bg-arquivos a span{
	color: #ABABAB;
	font-size: 16px;
	font-weight: 400;
}
.bg-categoria a:hover, .bg-categoria a span:hover, .bg-tags a:hover, .bg-arquivos a:hover, .bg-arquivos a span:hover{
	color: var(--bg-red);
}
.div-a{
	width: 100%;
}
.div-tag{
	margin-right: 10px;
	margin-bottom: 5%;
}
/* FIM COLUNA */

/* CONTEUDO */
.blog-content{
	width: 70%;
	margin-left: 5%;
	align-content: baseline;
}
.blog-titulo{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.blog-titulo h2{
	font-size: 36px;
	font-weight: 700;
	color: #383838;
}
.blog-img img{
  height: 295px;
  width: 348px;
 	object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.blog-subtitulo{
	width: 100%;
	align-items: center;
	margin: 2% 0;
}
.blog-subtitulo div{
	width: 100%;
	flex-wrap: nowrap;
	align-items: center;
}
.blog-subtitulo div h3{
	font-size: 18px;
	color: #A7A7A7;
	margin-left: 2%;
	width: 100%;
}
.calendario img, .comentarios img{
	margin-right: 5%;
}
.blog-text{
	width: 100%;
	margin-top: 2%;
}
.text-img{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.text-img img{
	width: 100%;
}
.text-p {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 2% 0 8% 0;
	justify-content: space-between;
}
.text-p p{
	font-size: 16px;
	color: #383838;
	line-height: 2em;
}
.text-p-bg{
	width: 100%;
	background-color: #f3f5f9;
	padding: 30px;
	margin: 3% 0;
}	
.text-p-bg p{
	font-size: 18px;	
	color: var(--bg-red);
}
.text-p-bg p span{
	font-size: 18px;
	color: var(--bg-red);
	font-weight: 700;
}
.text-p-img{
	width: 100%;
	margin-bottom: 5%;
	justify-content: space-between;
}
.text-p-img div{
	width: 46%;
}
.text-p-img div img{
	width: 100%;
}

.text-bottom{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 30px;
	border: 1px solid #A4A5A4;
	border-radius: 10px;
}
.text-tags{
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.text-tags h3{
	font-size: 18px;
	font-weight: 700;
	color: #383838;
	margin-right: 3%;
	width: unset;
}
.text-tags a{
	font-size: 18px;
	color: #383838;
}
.text-tags span{
	font-size: 18px;
	color: #383838;
	margin-right: 1%;
}
.text-compartilhe{
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
}
.text-compartilhe h3{
	font-size: 18px;
	font-weight: 700;
	color: #383838;
	margin-right: 3%;
	width: unset;
}
.text-compartilhe a{
	margin: 0 2%;
}

/* COMENTARIOS */
.comentarios{
	width: 100%;
	margin-top: 5%;
}
.comentarios-qtd{
	width: 100%;
	border-bottom: 1px solid #A7A7A7;
	padding-bottom: 1%;
}
.comentarios-qtd h3, .comentarios-qtd h3 span{
	font-size: 26px;
	font-weight: 700;
	color: #1B2C40;
}
.coments{
	width: 100%;
}
.coments-user{
	width: 100%;
	margin: 2% 0;
}
.coments-img{
	background-color: #1B2C40;
	border-radius: 50%;
	border: none;
	width: 57px;
	height: 57px;
	place-content: center;
}
.coments-txt{
	margin-left: 2%;
}
.coments-txt h4{
	width: 100%;
	font-size: 16px;
	font-weight: 700;
	color: #707070;
}
.coments-txt h3{
	width: 100%;
	font-size: 16px;
	font-weight: 300;
	color: #000;
}
.coments p{
	color: #707070;
	font-size: 16px;
	margin-bottom: 3%;
}
.coments a{
	color: #1B2C40;
	border-bottom: 1px solid #1B2C40;
	padding-bottom: 1%;
}
.coments a:hover{
	color: #707070;
	border-bottom: 1px solid #707070;
}

/* USUARIO */
.area-text{
	width: 100%;
}
.comentarios-user{
  width: 100%;
  margin-top: 2%;
  margin-bottom: 8%;
}
.cc-user{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 2%;
}
.img-div{
  width: 100%;
}
.cc-img {
    background-color: #1B2C40;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    margin-bottom: 2%;
}
.input-div{
	width: 100%;
	justify-content: space-between;
}
.input-div input{
	width: 48%;
	height: 45px;
	padding-left: 1%;
	margin-bottom: 3%;
}
.input-text{
	width: 100%;
}
.input-text textarea{
	width: 100%;
	height: 86px;
	padding-left: 1%;
	padding-top: 1%;
	margin-bottom: 3%;
}
.area-texto button{
	background-color: #1B2C40;
	color: #fff;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
}
.area-texto button:hover{
	background-color: #fff;
	color: #1B2C40;
	border: 1px solid #1B2C40;
}
/* FIM COMENTARIOS */

/* FIM CONTEUDO */

/* MEDIA DESKTOP */
@media screen and (max-width: 1600px){

}

@media screen and (max-width: 1440px){
	.bn-text h2{
		font-size: 80px;
	}
	.card-text h3{
		font-size: 22px;
	}
	.card-text p{
		font-size: 14px;
	}
	.bg-categoria h3, .bg-tags h3, .bg-arquivos h3, .news-content h3{
		font-size: 18px;
	}
	.bg-categoria a, .bg-categoria a span, .bg-tags a, .bg-arquivos a, .bg-arquivos a span{
		font-size: 14px;
	}
	.blog-content{
		width: 71%;
		margin-left: 4%;
	}
	.blog-titulo h2{
		font-size: 34px;
	}
	.blog-subtitulo div h3{
		font-size: 17px;
	}
	.comentarios-qtd h3, .comentarios-qtd h3 span{
		font-size: 24px;
	}
	.text-p p, .text-p-bg p, .coments p{
		font-size: 15px;
	}
	.text-tags h3, .text-compartilhe h3{
		font-size: 17px;
	}
	.text-tags a, .coments a,.area-texto button{
		font-size: 15px;
	}
	.coments-txt h4, .coments-txt h3{
		font-size: 15px;
	}
}

@media screen and (max-width: 1366px){
	.blog{
		width: 85%;
	}
}

@media screen and (max-width: 1280px){
	.blog{
		width: 90%;
	}
	.bn-text h2{
		font-size: 70px;
	}
	.card-text h3{
		font-size: 20px;
	}
	.card-text p{
		font-size: 13px;
	}
	.bg-categoria h3, .bg-tags h3, .bg-arquivos h3, .news-content h3{
		font-size: 16px;
	}
	.bg-categoria a, .bg-categoria a span, .bg-tags a, .bg-arquivos a, .bg-arquivos a span{
		font-size: 13px;
	}
	.blog-content {
    	width: 72%;
    	margin-left: 3%;
	}
	.blog-titulo h2{
		font-size: 32px;
	}
	.blog-subtitulo div h3{
		font-size: 16px;
	}
	.comentarios-qtd h3, .comentarios-qtd h3 span{
		font-size: 22px;
	}
	.text-p p, .text-p-bg p, .coments p{
		font-size: 14px;
	}
	.text-tags h3, .text-compartilhe h3{
		font-size: 16px;
	}
	.text-tags a, .coments a,.area-texto button{
		font-size: 14px;
	}
	.coments-txt h4, .coments-txt h3{
		font-size: 14px;
	}
}

@media screen and (max-width: 1024px){
	.blog{
		width: 95%;
	}
	.bn-text h2{
		font-size: 60px;
	}
	.blog-titulo h2{
		font-size: 30px;
	}
}

/* MOBILE */
@media screen and (max-width: 768px){
	.blog-coluna{
		width: 30%;
	}
	.blog-content{
		width: 62%;
	}
	.box-bg{
		width: 100%;
	}
	.text-bottom{
		padding: 15px;
	}
	.text-compartilhe a img{
		width: 70%;
	}
}

@media screen and (max-width: 480px){
	.blog-coluna{
		width: 80%;
		margin: 0 auto 10% auto;
	}
	.blog-content{
		width: 100%;
		margin-left: 0;
	}
	.text-tags{
		width: 100%;
		margin-bottom: 5%;
	}
	.text-compartilhe{
		width: 100%;
		justify-content: flex-start;
	}
}

@media screen and (max-width: 400px){

}

@media screen and (max-width: 375px){

}